@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;

}
.ql-editor{
    font-size: 1.05rem;
}

/* Dark theme styles for ReactQuill */
.dark .ql-snow .ql-editor {
    color: #8fa39a; 
    border: 1px solid #333; 
  }
  
  .dark .ql-snow .ql-picker-label,
  .dark .ql-snow .ql-picker-item {
    color: #8fa39a; 
  }
  
  .dark .ql-snow .ql-stroke,
  .dark .ql-snow .ql-fill {
    stroke: #8fa39a;
  }
  